.container{
   display: flex;
   gap : 20px;
   justify-content : center;
}

.form-box{
    width: 300px;
    height: 400px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-box{
    display: flex;
    justify-content: center;
}

button{
    width: 100px;
    align-self: center;
}
